body{
    font-family: "Montserrat", sans-serif;
}

#title {
  color: white;
}

.navbar {
  padding-top: 3rem;
  padding-bottom: 2rem;
}


.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Buttons */

.download-button {
  margin-top: 3%;
}

/* Image */

.title-image {
  width: 50%;
  margin-left: 150px;
}

.icons {
  font-size: 50px;
  color: #ffffff;
  margin: 20px;
}

.why-area {
  background-color: rgb(0, 183, 255);
  color: #ffffff;
}

.card-deck{
    margin: 20px 20px;
}

.card{
    border: none;
}

.btn-primary{
    background-color: #56d2ff;
    border: none;
}

.btn-outline-primary{
    color: #56d2ff!important;
    border-color: #56d2ff;
}

.btn-outline-primary:hover{
    color: white!important;
}

.card .card-header{
    background-color: #2cc7ff;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5% 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-body{
    background-color: rgba(250, 250, 250, 0.561);
    padding-bottom: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 2px 2px 6px #888;
}

.download-area{
    background-color: rgb(0, 183, 255);
    color: white;
}

@media screen and (min-width: 768px) {
  .promo-text {
    margin-top: 10%;
  }
}

@media screen and (max-width: 768px) {
  .title-image {
    display: none;
  }

  .promo-text {
    margin-bottom: 10%;
  }
}